body {
  font-family: "Inter", sans-serif;
}

pre > code, code {
  border-radius: 4px;
  font-family: "Iosevka Fixed", monospace;
}

footer > a.bi {
  font-size: 1.5em;
}

.icon {
  font-size: 2em;
}

.icon:hover {
  text-decoration: none;
}
